body {
    overflow: hidden;
    border: none;
    padding: 0;
    margin: 0;
}

.main {
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.table-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    background-color: #AFAFAF;
    border-bottom: 2px solid;
    align-items: center;
}

.table-header div {
    height: 100%;
    text-align: center;
}

.table-header div:not(:first-child) {
    cursor: pointer;
    text-align: center;
}

.table-header div:not(:first-child):hover {
    background-color: #CFCFCF;
}

#where {
    width: 12%;
    margin-left: auto;
}

#sort {
    width: 12%;
}

#group {
    width: 12%;
}

#get {
    width: 10%;
}

#delete {
    width: 10%;
}

#insert {
    width: 10%;
}

.table-body {
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    height: calc(100% - 40px);
}

.table-contents {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    background-color: #AFAFAF;
    border-bottom: 2px solid;
    align-items: center;
}

.table-data {
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: auto;
    background-color: #CFCFCF
}

.row {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid;
    align-items: center;
}

.row:hover {
    background-color: #8F8F8F;
}

.col {
    text-align: center;
}

#Test {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}

.dialog-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #6F6F6FA0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-background-front {
    z-index: 3;
}

.dialog-background-back {
    visibility: hidden;
    z-index: 1;
}

.dialog {
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    background-color: #CFCFCF;
}

.dialog-body {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.dialog-field {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dialog-control {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
}

.dialog-single-button, .dialog-two-button {
    height: 100%;
    cursor: pointer;
    text-align: center;
}

.dialog-single-button:hover, .dialog-two-button:hover {
    background-color: #AFAFAF;
}

.dialog-single-button {
    width: 100%;
}

.dialog-two-button {
    width: 50%;
}